body{
    /* margin: 5px; */
    background-color: rgb(189,190,193);
    font-size: 18px;
    color: lightslategrey;
}

.container{
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 0px 10px;
}

header h1{
    padding-top: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.description{
    width: 100%;
}
.input-container > div{
    padding: 10px 0px;
}
label{
    display: block;
}

input{
    width: 98%;
    padding: 5px;
    border: none;
}

input:focus{
    outline: none;
}
.category-date{
    display: flex;
    flex-wrap: wrap;
}
.category{
    border-right: 1px solid grey;
}
.category-date > div{
    width: 49%;
}

select, .date > input{
    width: 90%;
    border: transparent;
}

select:focus, .date > input:focus{
    outline: none;
}
.buttons{
    text-align: center;
    padding: 20px 0px;
}

button{
    margin: 10px;
    color: lightgray;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}
i{
    color: white;
    margin-right: 10px;
    font-weight: 900;
}

.bg-dark{
    background-color: rgb(80, 80, 80);
}

.bg-danger{
    background-color: rgb(236,56,34);
}

.bottom-border{
    border-bottom: 1px solid grey;
}

.p-top-bottom{
    padding: 10px 0px;
}
.m-bottom{
    margin-bottom: 5px;
}
.p-left{
    padding-left: 10px;
}
.category:focus{
    background-color: grey;
}

.due-date i{
    color: lightslategrey;
}

.output{
    display: flex;
    padding: 5px;
}

.output .description{
    margin-left: 30px;
}
#checkbox{
    margin-top: 10px;
    height: 15px;
    width: 15px;
}
.task, .due-date{
    margin:10px 0px ;
}
.task{
    font-weight: 550;
}
.due-date{
    font-weight: 100;
}