<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
</head>
<body>
    <h1>For Access My Github Profile Click <a href="https://github.com/shahnawaaz1901">Here</a></h1>
</body>
</html>