<!-- 
    This file extension is ejs, because we need to use dynamic so that is helps us to
    render data file from database or user specific. This is extension version of HTML
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Given Statement update title with title value which is define in js code -->
    <!-- For Using Value of title you need to close value between angular bracket along with % and equal sign before name of the variable -->
    <!-- 
        <title><%= title %></title>                 //Instead of Using this Directly
     -->
     <title><%= locals.title%></title>              <!--Because Locals is Global Object and What Ever Variables We Return as Render is Key Pair Values of locals-->
</head>
<body>
    <h1>Hello Babe ! My Name is Shahnawaaz Ansari</h1>
</body>
</html>