<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: brown;
            color: white;
        }
    </style>
</head>

<body>
    <center>
        <h1>
            Contact List
        </h1>
    </center>
    <ul>
        <%for(let eachContact of contact){%>
            <li>
                <h2><%= eachContact.name %></h2>
                <h3><%= eachContact.phone %></h3>
            </li>
        <%}%>
    </ul>
</body>

</html>