<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: brown;
            color: white;
        }
    </style>
</head>

<body>
    <center>
        <h1>
            Contact List
        </h1>
    </center>
    <ul>
        <%for(let eachContact of contact){%>
            <li>
                <h2><%= eachContact.name %></h2>
                <h3><%= eachContact.phone %></h3>
            </li>
        <%}%>
    </ul>
    <!-- action is Same as URL which Handle Post Request -->
    <form action="/create-contact" method="POST">
        <!-- Define Name is Most Important Because  -->
        <!-- What Ever value of 'name' you give is the key for receiving object 
            and whatever data user is filled is value of that key -->
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="text" name="phone" placeholder="Enter Phone" required>
        <button type="submit"> Add Contact </button>
    </form>
</body>

</html>