<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Page</title>
</head>
<body>
    <h1>Hey ! This is Practice Page</h1>
    <ul>
        <caption><h3>
            Some Basic Tips For Web Development
        </h3></caption>
        <li><h4>HTML</h4></li>
        <li><h4>CSS</h4></li>
        <li><h4>JavaScript</h4></li>
        <li><h4>Node.Js</h4></li>
        <li><h4>Express.js</h4></li>
        <li><h4>Mongo DB/ My SQL</h4></li>
    </ul>
</body>
</html>