<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title %> </title>
</head>
<body> -->
    <!-- This is Header and Footer Which is Common Stuff -->
    <!-- <header>
        This is Header
    </header> -->
    <!-- <%- include('__header'); %>              Use Partial to Import Header -->
    <!-- Add Style to User Profile So that When Ever Page is load style is also loaded simontanously -->
    <link rel="stylesheet" href="/css/user_profile.css">
    <h1>Users Profile Section </h1>
    <!-- <footer>
        This is Footer
    </footer> -->
    <!-- <%- include('__footer'); %>              Use Partial to Import Footer -->
<!-- </body>
</html> -->